@import '../variables';

.explore-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.explore-item {
  border: 1px solid $echo-secondary;
  margin: 1rem;
  padding-bottom: 1rem;
  padding: 0;
  //border-radius: .25rem;
}

.explore-item__header {
  //padding: 1rem 0;
  background-color: $echo-header;
  border-bottom: 1px solid darken($echo-header, 10);
  padding: 0.7rem 0.7rem;
  //font-size:
  a {
    font-size: 1.4rem;
  }
}