@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../variables';

.player-container {
  margin-top: auto;
  width: 100vw;
  background-color: $echo-player;
  border-top: 1px solid darken($echo-player, 5);
  opacity: 1;
  padding: 0.75rem;
  text-align: left;
  grid-template-columns: 1fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  a {
    color: black;
  }

  svg {
    fill: black;
    color: black;
  }

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  .player-left {
    display: flex;
    align-items: center;
    align-content: center;

    img {
      height: 44px;
      width: 44px;
      margin-right: 0.5rem;
    }

    .song-title {
      font-weight: bold;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .song-artist {

    }

  }


  .player-left {
    //align-self: center;
    //margin-left: auto;
    //margin-right: auto;

    //a:nth-of-type(2) {
    //  font-style: italic;
    //}
  }

  .player-center {
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  .player-right {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  input.form-range::-webkit-slider-thumb {
    background: lighten($echo-player, 35);
    border: 1px solid darken($echo-player, 30);
    height: 16px;
    width: 16px
  }
  input.form-range::-webkit-slider-runnable-track {
    background: darken($echo-player, 5);
    border: 1px solid darken($echo-player, 25);
    height: 10px;
  }


  input.form-range::-moz-range-thumb {
    background: $echo-player;
    border: 1px solid $echo-primary;
  }

  input.form-range::-ms-thumb {
    background: $echo-player;
    border: 1px solid $echo-primary;
  }

}


.player-controls {
  svg:hover {
    transform: scale(1.05);
  }
}

.player-modal {
  position: absolute;
  width: 100vh;
  height: 100vw;
  background-color: rgba(0,0,0,0.8);

  .player-modal__container {
    opacity: 1;
    position: absolute;
    background-color: red;
    top: subtract(50%, 250px);
    left: subtract(50%, 250px);
    width: 500px;
    height: 500px;
  }
}