

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.player-container {
  margin-top: auto;
  width: 100vw;
  background-color: antiquewhite;
  padding: 1rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }



  .player-left {
    display: flex;

    img {
      height: 100px;
      width: 100px;
      margin-right: 0.5rem;
    }
  }


  .player-left {
    //align-self: center;
    //margin-left: auto;
    //margin-right: auto;

    //a:nth-of-type(2) {
    //  font-style: italic;
    //}
    .songname {
      font-size: 26px;
    }
  }

  .player-center {
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
}

